<!DOCTYPE html>
<html>
<head>
<title>Anna L. Ehrhardt</title>
 <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/jquery.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/assets/move-top.js"></script>
<script type="text/javascript" src="/assets/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top});
				});
			});
		</script>
<!---- start-smoth-scrolling---->
<!-- Custom Theme files -->
<link href="/assets/theme-style.css" rel="stylesheet" type="text/css">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!----font-Awesome----->
<link rel="stylesheet" href="/assets/font-awesome.min.css">
<!----font-Awesome----->
<!----webfonts---->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" type="text/css">
<!----//webfonts---->
<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
</head>
<body>
		<!----start-container---->
			<!----start-header---->
		<div id="home" class="header scroll">
			<div class="container">
				<!---- start-logo---->
				<div class="logo">
					<a href="index.html"><img src="/assets/ale1.png" title="Mabur"></a>
				</div>
				<!---- //End-logo---->
				<!----start-top-nav---->
				 <nav class="top-nav">
					<ul class="top-nav">
						<li class="active"><a href="#home" class="scroll">Home</a></li>
						<li class="page-scroll"><a href="#fea" class="scroll">Languages</a></li>
						<li class="page-scroll"><a href="#wo" class="scroll">Talents</a></li>
						<li class="page-scroll"><a href="#port" class="scroll">Portfolio</a></li>
						<li class="page-scroll"><a href="#blog" class="scroll">Resume</a></li>
						<li class="contact-active"><a href="#contact" class="scroll">Contact</a></li>
					</ul>
					<a href="#" id="pull"><img src="/assets/nav-icon.png" title="menu"></a>
				</nav>
				<div class="clearfix"> </div>
				<div class="slide-text text-center">
					<h1>Anna Livingston Ehrhardt</h1>
					<span>IT Professional/Developer</span>
				</div>
				<!----//End-top-nav---->
			</div>
		</div>
		<!----//End-header---->
		<!----start-feartures----->
		<div id="fea" class="features">
			<div class="container">
				<div class="head text-center">
					<h3><span> </span> My Languages</h3>
				</div>
				<!---- start-features-grids---->
				<div class="features-grids text-center">
					<div class="col-md-3 features-grid">
						<span class="fea-icon1"><i class="fa fa-terminal"> </i> </span>
						<h3><a href="#">Ruby</a></h3>
						<p> < a year </p>
					</div>
					<div class="col-md-3 features-grid">
						<span class="fea-icon1"><i class="fa fa-gear"> </i> </span>
						<h3><a href="#">Rails</a></h3>
						<p> < a year</p>
					</div>
					<div class="col-md-3 features-grid">
						<span class="fea-icon1"><i class="fa fa-sitemap"> </i> </span>
						<h3><a href="#">Javascript/HTML5</a></h3>
						<p>4 + years</p>
					</div>
					<div class="col-md-3 features-grid">
						<span class="fea-icon1"><i class="fa fa-filter"> </i> </span>
						<h3><a href="#">MySQL</a></h3>
						<p>7 + years</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!---- //End-features-grids---->
			</div>
		</div>
		<!----//End-feartures----->
		<!---- start-work---->
		<div id= "wo" class="work">
			<div class="container">
				<div class="head text-center work-head">
					<h3><span> </span> Talents</h3>
					<p></p>
				</div>
				<!---- start-work-grids----->
				<div class="work-grids">
					<div class="col-md-4 work-grid">
						<span class="col-md-5 w-icon"> <i class="fa fa-tasks"> </i></span>
						<div class="col-md-7 work-info">
							<h4>Manager</h4>
							<p><ul>
							<li>Agile Project Manager</li>
							<li>SaaS Projects</li>
							<li>Scrum Master</li>
							<li>DoD Contracts</li></ul></p>
						</div>
					</div>
					<div class="col-md-4 work-grid center-work-grid">
						<span class="col-md-5 w-icon"> <i class="fa fa-cogs"> </i></span>
						<div class="col-md-7 work-info">
							<h4>Designer</h4>
							<p><ul>
							<li>Print</li>
							<li>Logos</li>
							<li>Presentations</li>
							<li>Advertisements</li></ul> </p>
						</div>
					</div>
					<div class="col-md-4 work-grid">
						<span class="col-md-5 w-icon"><i class="fa fa-code"> </i> </span>
						<div class="col-md-7 work-info">
							<h4>Developer</h4>
							<p><ul>
							<li>Web Applications</li>
							<li>Database Solutions</li>
							<li>Mobile Development</li>
							<li>Legacy Solutions</li></ul></p>
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="work-map">
						<span> </span>
					</div>
				</div>
				<!---- //End-work-grids----->
			</div>
		</div>
		<!---- //End-work---->
		<!----start-portfolio----->
		<div id="port" class="portfolio portfolio-box">
				<div class="head text-center">
					<h3><span> </span> Portfolio</h3>
				</div>
				<!----start-portfolio---->
               <div id="port" class="portfolio-main">
	        	<!---- start-portfolio-script----->
					<script type="text/javascript" src="/assets/jquery.mixitup.min.js"></script>
					<script type="text/javascript">
						$(function () {
							var filterList = {
								init: function () {
								
									// MixItUp plugin
									// http://mixitup.io
									$('#portfoliolist').mixitup({
										targetSelector: '.portfolio',
										filterSelector: '.filter',
										effects: ['fade'],
										easing: 'snap',
										// call the hover effect
										onMixEnd: filterList.hoverEffect()
									});				
								
								},
								hoverEffect: function () {
									// Simple parallax effect
									$('#portfoliolist .portfolio').hover(
										function () {
											$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
											$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
										},
										function () {
											$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
											$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
										}		
									);				
								
								}
					
							};
							// Run the show!
							filterList.init();
						});	
					</script>
					<!----//End-portfolio-script----->

					<div id="portfoliolist">
					<div class="portfolio logo1 mix_all" data-cat="logo" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">	
							<div class="port-grid">
								<div class="port-grid-text">
									<p>//BlueIon</p>
									<label class="arrow-icon1"> </label>
								</div>
								<div class="port-grid-pic block last">
									<a href="https://github.com/alehrhardt4/BlueIon" class="b-link-stripe b-animate-go  thickbox">
								     <img src="/assets/blue.png"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="/assets/plus.png" alt=""></h2>
								  	</div></a>
								</div>
								<div class="clearfix"> </div>
							</div>	
		                </div>
					</div>				
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<div class="port-grid">
								<div class="port-grid-text port-grid-text-c">
									<p>//Ratchet</p>
									<label class="arrow-icon1 arrow-icon1-l"> </label>
								</div>
								<div class="port-grid-pic block last">
									<a href="https://github.com/alehrhardt4/ratchet1" class="b-link-stripe b-animate-go  thickbox">
								     <img src="/assets/ratchet.png"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="/assets/plus.png" alt=""></h2>
								  	</div></a>
								</div>
								<div class="clearfix"> </div>
							</div>	
		                </div>
					</div>		
					<div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<div class="port-grid">
								<div class="port-grid-text port-grid-text-c">
									<p>//Hospital</p>
									<label class="arrow-icon1 arrow-icon1-l"> </label>
								</div>
								<div class="port-grid-pic block last">
									<a href="https://github.com/alehrhardt4/TheIronYard/tree/master/Homework/Hospital" class="b-link-stripe b-animate-go  thickbox">
								     <img src="/assets/hospital.png"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="/assets/plus.png" alt=""></h2>
								  	</div></a>
								</div>
								<div class="clearfix"> </div>
							</div>	
		                </div>
					</div>				
					<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<div class="port-grid">
								<div class="port-grid-pic block last">
									<a href="https://github.com/TIY-Q3-ROR-CHS/GutHub" class="b-link-stripe b-animate-go  thickbox">
								     <img src="/assets/gut.png"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="/assets/plus.png" alt=""></h2>
								  	</div></a>
								</div>
								<div class="port-grid-text port-grid-text-c">
									<p>//GutHub</p>
									<label class="arrow-icon1 arrow-icon1-r"> </label>
								</div>
								<div class="clearfix"> </div>
							</div>	
		                </div>
					</div>	
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<div class="port-grid">
								<div class="port-grid-pic block last">
									<a href="https://github.com/alehrhardt4/Team6" class="b-link-stripe b-animate-go  thickbox">
								     <img src="/assets/menu.png"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="/assets/plus.png" alt=""></h2>
								  	</div></a>
								</div>
								<div class="port-grid-text port-grid-text-c">
									<p>//Menus</p>
									<label class="arrow-icon1  arrow-icon1-r"> </label>
								</div>
								<div class="clearfix"> </div>
							</div>	
		                </div>
					</div>
						<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<div class="port-grid">
								<div class="port-grid-pic block last">
									<a href="https://github.com/alehrhardt4/TheIronYard/tree/master/Homework/calc1" class="b-link-stripe b-animate-go  thickbox">
								     <img src="/assets/calc.png"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="/assets/plus.png" alt=""></h2>
								  	</div></a>
								</div>
								<div class="port-grid-text port-grid-text-c">
									<p>//Angular Calculator</p>
									<label class="arrow-icon1  arrow-icon1-r"> </label>
								</div>
								<div class="clearfix"> </div>
							</div>	
		                </div>
					</div>			
		<div class="clearfix"> </div>
		<!----//End-portfolio----->
		<!----start-blog---->
		<div id="blog" class="blog">
			<div class="container">
				<div class="head text-center">
					<h3><span></span>Resume</h3>
				</div>
			</div>
			<div class="blog-time-line">
				<div class="col-md-6 blog-time-line-left">
				</div>
				<div class="col-md-6 blog-time-line-right">
					<div class="blog-post">
						<div class="col-md-2 blog-post-date">
							<span><label>Education</label></span>
						</div>
						<div class="col-md-10 blog-post-info">
							<p><li>The Iron Yard - October 2014</li><li>College of Charleston - May 2008</li><li>Clemson University - August 2005</li></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<div class="blog-post">
						<div class="col-md-2 blog-post-date">
							<span><label>Govt</label></span>
						</div>
						<div class="col-md-10 blog-post-info">
							<p><li>CommIT Enterprises</li><li>Qinetiq - North America</li></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<div class="blog-post">
						<div class="col-md-2 blog-post-date">
							<span><label>R.E.</label></span>
						</div>
						<div class="col-md-10 blog-post-info">
							<p><li>Places Real Estate, LLC.</li></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<div class="blog-post">
						<div class="col-md-2 blog-post-date">
							<span><label>Sales</label></span>
						</div>
						<div class="col-md-10 blog-post-info">
							<p><li> Chevrolet</li><li>Universal America</li> </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
					<div class="blog-post-time-line-connector">
						<span></span>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!---- //End-blog-time-line---->
		</div>
		<!----//End-blog---->

			<!----start-contact---->
				<div id="contact" class="contact"> 
					<div class="contact-map">
						<img src="/assets/map.jpg" width="1600px" height="557px">
					</div>
						<div class="contact-grids">
							<div class="col-md-6 contact-left">
								<h3><span> </span> Contact</h3>
								<p><i class="fa fa-map-marker"> </i> Anna L. Ehrhardt Mount Pleasant, SC 29464</p>
								<form>
									<input type="text" value="Name " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
									<input type="text" value="info@mail.com *" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email@domain.com *';}">
									<textarea onfocus="if(this.value == 'Message *') this.value='';" onblur="if(this.value == '') this.value='Message *;">Message *</textarea>
									<span class="submit-btn"><input type="submit" value="Send"></span>
								</form>
							</div>
							<div class="col-md-6 contact-right">
								<span class="pin-map"> </span>
							</div>
							<div class="clearfix"> </div>
						</div>
				</div>
			<!----//End-contact---->
		<!----start-footer---->
		<div class="footer">
			<div class="container">
				<div class="footer-left">
					<a href="#"><img src="/assets/ale1.png" title="mabur"></a>
				</div>
				<script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
			  			containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
			 		};
					*/
					
					$().UItoTop({ easingType: 'easeOutQuart' });
					
				});
			</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			</div>
		</div>
		<!----//End-footer---->
		<!----//End-container---->
	

<%= yield %>
</body>
</html>